@font-face {
  font-family: IBM Plex Sans;
  src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap);
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav-link{
	font-size: 14px !important;
}

.nav_logo{
	height: 26px !important;
}

#mainNav{
	height: 65px !important;
}

.nav-link-btn{
	height: 32px;
	padding-top: 2px !important;
}



.test{
	background-color: black;
}
.text-title-custom{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 100%;
}
.text-title-2020{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 60%;
	padding-right: 2%;
}
.text-title-big{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	line-height: 48px;
}
.text-content{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
}

.text-content2{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	width: 100%;
}
.text-mini{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 15px;
}
.text-small{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
}
.text-title{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 40px;
	width: 100%;
	color: #333333;
}
.content-icon{
	vertical-align: middle;
	height: 22px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 8px;
	line-height: 20px;
}

header{
	color: white;
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(https://public.bnbstatic.com/static/binance-third-anniversary/img/title_bg_wide.png);
	background-size: cover;
}
.overlay{
	/*position: absolute;*/
	z-index: 10;
	width: 100%;
	height: 100%;
}
header > .overlay{
	background-color: rgba(0,0,0,0.1);
}
header > .container{
	z-index: 11;
	position: absolute;
	top: 120px;
	left: 50%;
	padding-left: 10%;
	transform: translateY(-50%);
  	transform: translateX(-50%);
}

a:link, a:visited {
  	text-decoration: none;
  	color: #F0B90B;
}



.custom_btn{
	display: block;
	margin-top: 5%;
	/*margin-left: 50%;
  	transform: translateX(-50%);*/
  	margin-left: auto;
  	margin-right: auto;
	position: relative;
	box-sizing: border-box;
	border: 0px;
	border-radius: 4px;
	font-family: IBM Plex Sans;
	/*font-style: normal;*/
	font-size: 20px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;	
	-webkit-transition:  0.3s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: 0.3s;
	transition-timing-function: linear;
}
.custom_btn.inactive{
	background-color: #F2F2F2;
	color: #C4C4C4;
	cursor: not-allowed;
}
@media (max-width:768px){/*手機頁面取消*/
	.custom_btn:not(.inactive):hover{
		box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
		-webkit-transition:  0.3s; /* Safari */
		-webkit-transition-timing-function: linear; /* Safari */
		transition: 0.3s;
		transition-timing-function: linear;
		/*background-color: rgba(0, 0, 0, 0.5);*/
	}
}
.show_less{
	background-color: rgba(0,0,0,0) !important;
	border: solid 2px #F0B90B !important;
	color: #F0B90B !important;
	margin-top: 2vw !important;
	margin-bottom: 4vw !important;
	padding: 0px 8vw;
}

#register_btn{
	display: inline-block;
	padding: 0px 8vw;
	height: 48px;
	border: 2px solid #F0B90B;
	color: #F0B90B;
	-webkit-transition:  0.3s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: 0.3s;
	transition-timing-function: linear;
}
#register_btn:hover{
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-transition:  0.3s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: 0.3s;
	transition-timing-function: linear;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}
.center-div{
	margin: auto;
	text-align: center;
}
.left-div{
	margin: auto;
	text-align: center;
}
.custom-container{
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
#video-stream-container{
	position: relative;
	margin: 0px;
	width: 100vw;
	height: 56.25vw;
	background-color: black;
}
.about-video{
	position: absolute;
	min-height: 300;
	padding: 0%;
	padding-top: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 0;
}

.about-video .video-content{
	pointer-events:none;
	position: absolute;
	padding-left: 3%;
	padding-top: 2%;
	padding-bottom: 1%;
	width: 100%;
	bottom: 0px;
	left: 0;
	background-color: rgba(0,0,0,0.55);
	z-index: 3;
}
.video-footer{
	background-color: black;
	padding-right: 20px;
	height: 40px;
	width: 100%;
	color: white;
	line-height: 40px;
	vertical-align: center;
	text-align: right;
}
.video-footer > a{
	color: white;
}
.change-video-btn{
	position: absolute;
	right: 10px;
	top: 20px;
	z-index: 900;
	width: 220px;
	text-align: center;
	border-radius: 20px;
	background-color: white;
	color: #F0B90B;
	padding:6px 10px;
	cursor: pointer;
}

.change-video-btn .left{
	left: 10px;
	top: 20px;
}
.change-video-btn .right{
	right: 10px;
	top: 20px;
}
@media (max-width:520px){
	.change-video-btn{
		right: 8px;
		top: 15px;
		width: 180px;
		padding:4px 7px;
		font-size: 14px;
	}
}
/*.vice-video, .main-video{
	position: absolute;
}*/
/*.main-video, .vice-video{
	width: 50%;
	height: auto;
}*/
.vice-video{
	/*display: none;*/
	/*margin-left: 100%;*/
	opacity: 0;
	transform: translateX(100%);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;

}
.vice-left{
	/*display: none;*/
	/*margin-left: 100%;*/
	opacity: 1;
	transform: translateX(0%);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.main-video{
	opacity: 1;
	transform: translateX(0%);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.main-left{
	opacity: 0;
	transform: translateX(-100%);
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}

.live-btn{
	width: 70px;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 10px;
	border-radius: 20px;
	background-color: #F0B90B;
	color: black;
	padding:3px 10px;
}


#about-top{
	width: 90%;
	padding-top: 3%;
	padding-bottom: 3%;
}

#about-top .center-div:hover{
	transform: scale(1.3);
	-moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
#about-top .center-div{
	/*min-width: 200px;*/
	/*width: 1vw;*/
	margin: 2.5% auto 1.5% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	-moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;	
}
#about-top .yellow-line{
	display: inline-block;
	margin: 8px;
	align-self: center;
	width: 100%;
	border: 0.9px solid #F0B90B;
}

#about-conference{
	position: relative;
	padding: 0%;
	padding-top: 3%;
	padding-bottom: 3%;
	min-height: 400px;
	width: 100%;
}
.about-content > .text-title{
	color: #FFFFFF;
	text-align: left;
}
#about-conference > .hide_overflow{
	width: 5%;
	overflow: hidden;
	z-index: 100;
	height: 90%;
	background-color: #FFFFFF;
	position: absolute;

}
#about-conference > .about-content{
	position: relative;
	padding: 3%;
	padding-top: 2%;
	width: 47%;
	background-color: #2D2D35;
	z-index: 99;
}
#about-conference > .left{
	z-index: 100;
	margin-left: 5%;
}


.custom-carousel {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	float: left;
	position: relative;
	/*overflow: hidden;*/
}

.custom-carousel-item {
	margin-right: 10%;
	width: 100%;
	height: 100%;
	object-fit: inherit;
    -moz-transition: transform 0.8s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out;
    -o-transition: transform 0.8s ease-in-out;
    -webkit-transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}
.video-item {
	margin-right: 10%; 
	width: 100%;
	height: 100%;
	object-fit: cover;
    -moz-transition: transform 0.8s ease-in-out;
    -ms-transition: transform 0.8s ease-in-out;
    -o-transition: transform 0.8s ease-in-out;
    -webkit-transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}
/*temp close trans to increase performence*/
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.custom-carousel > .left-btn, .custom-carousel > .right-btn{
	z-index: 1000;
	width: 30px;
	height: 30px;
	position: absolute;
	/*transform: translateY(-50%);*/
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
	cursor: pointer;
	opacity: 0.8;
}

.custom-carousel > .right-btn{
	/* right: -28.5%; */
	right: 0%;
}

.row-main{
	padding: 2% 5%;
	position: relative;
	width: 100%;
	margin: 0px;

}
#about-buytickets > .center-div{
	width: 18vw;
	height: 18vw;
	background: url(https://public.bnbstatic.com/static/binance-third-anniversary/img/buy-ticket-bg.png) center;
	background-size: contain;
	background-repeat:no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	min-height: 270px;
	min-width: 270px;
}
.buy-ticket-btn{
	background-color: #F0B90B;
	color: #333333;
	width: 60%;
	height: 42px;
}

#Speakers{
	background-color: #F2F2F2;
}

#speaker_list{
	/*align-content: center;remove space between column for flex-wrap items*/
	padding-top: 0px;
	overflow: hidden;
}

.speaker{
	background-clip: content-box;
	padding: 1% 1% 0% 1%;
	width: 19vw;
	height: 25vw;
	min-width: 180px;
	min-height: 265px;
	background-color: #F0B90B;
	margin: 20px auto;
}
.speaker_bg{
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.speaker-text{
	/*background-color: #F0B90B;*/
	column-gap: 1px;
	height: 23%;
	padding-top: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.speaker-name{
	color: #333333;
	font-size: 20px;
}
.speaker-text > p{
	margin-bottom: 0px;
}
#view_more_speaker_btn{
	padding: 0px 8vw;
	background-color: #F0B90B;
	margin-top: 0px;
	display: none;
	margin-top: 2vw !important;
	margin-bottom: 4vw !important;
}

#view_more_speaker_btn2{
	padding: 0px 8vw;
	background-color: #F0B90B;
	margin-top: 0px;
	display: none;
	margin-top: 2vw !important;
	margin-bottom: 4vw !important;
}

#agenda_collapse_original,#awards_collapse_original{
	position: relative;
	width: 100%;
	height: 500px;
	background-repeat:no-repeat;
	background-image: url(https://public.bnbstatic.com/static/binance-third-anniversary/img/Agenda-bg.png);
	background-size: cover;
	z-index: 1;
	overflow: hidden;
}
#awards_collapse_original{
	position: relative;
	background-color: #CBCBCB;
	background-image: url(https://public.bnbstatic.com/static/binance-third-anniversary/img/Awards-bg.jpg);;
}
#agenda_collapse_original .overlay, #awards_collapse_original .overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	z-index: 2;
}

#agenda_collapse_original .row, #agenda_collapse_original .custom-container{
	height: 100%;
	padding: 5% 10%;
}
#awards_collapse_original .row, #awards_collapse_original .custom-container{
	height: 100%;
	padding: 5% 10%;
}
#agenda_collapse_original div:not(.overlay){
	color: white;
	z-index: 3;
}
#awards_collapse_original div:not(.overlay){
	color: white;
	z-index: 3;
}
#Agenda p, #Agenda li, #Agenda td{
	color: white;
}
#view_agenda_btn{
	background-color: #F0B90B;
	width: 200px;
	margin-top: 0px;
	height: 45px;
}
#view_awards_btn{
	background-color: #F0B90B;
	width: 200px;
	margin-top: 0px;
	height: 45px;
}
#agenda_collapse{
	position: relative;
	z-index: 200;
	background-color: #2D2D35;
}
#agenda_collapse .center-div{
	width: 100%;
}
#agenda_collapse ul{
	margin: auto;
	margin-bottom: 20px;
}
#agenda_collapse li{
	width: 40%;
	margin: auto;
}
#agenda_collapse ul li a{
	/*color: #F0B90B;*/
	color: #848E9C;;
}
#agenda_collapse ul li .active{
	color: #F0B90B;
	/*color: white;*/
}
#agenda_collapse ul li .yellow-line{
	width: 30%;
	visibility: hidden;
}
#agenda_collapse .active .yellow-line{
	visibility: visible;
}
#agenda_collapse .tab-pane{
	margin: auto;
	width: 80%;
}
#agenda_collapse td{
	border: 0px;
	height: 100%;
}
#agenda_collapse tr{
	border-bottom: 1px solid #4F4F4F;
}
/*--------------- old ---------------*/
/*.agenda_left{
	width: 30%;
	float: left;
	line-height: 40px;
}
.agenda_right{
	width: 70%;
	float: right;
	line-height: 40px;
}*/
/*--------------- new ---------------*/
.agenda_left{
	width: 40%;
	float: left;
	line-height: 40px;
	padding-left: 8% !important;
	text-align: left;
	padding-left: 20px;
}
.agenda_right{
	width: 60%;
	float: right;
	line-height: 40px;
	text-align: left;
}
.vl{
	display: inline-block;
	vertical-align : middle;
	margin: auto 8px;
	border-left: 6px solid;
	height: 2vw;
	width: 0px;
}
td > .text-content{
	width: auto;
	display: inline-block;
	margin-left: 28px;
}


#agenda_collapse td strong{
	line-height: 18px;
	font-size: 18px;
}
#agenda_collapse td button{
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	margin: auto 0px;
	transform: translateX(0%);
	border-radius: 20px;
	padding: 3px 8px;
}

#Partners .text-content{
	color: #828282;
	text-align: center;
	padding: 0px 9%;
	margin: 10px auto;
}
#mail_icon{
	width: 20px;
	margin-left: 10px;
}

#binance_awards{
	background-color: #e5e5e5;
	text-align: center;
}

#awards_list{
	display: block;
	background-color: #2D2D35;
	text-align: center;
}

.award_title_container{
	margin: 10px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: middle;
	height: 50px;
}
.awards_list img{
	padding: 0px 1vw;
	height: 4vw;
	margin: 2vw 20px;
	object-fit: contain;
}

.awards_list .center-div:hover{
	transform: scale(1.3);
	-moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.awards_block{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	height: 15%;
	margin: 5%;
}
.empty_awards{
	visibility: hidden;
}
.awards_block .yellow-line{
	display: inline-block;
	vertical-align: middle;
	margin: auto 8px;
	width: 70%;
	border: 1px solid #F0B90B;
}
.awards_img{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	padding-top: 80%;
	margin-bottom: 5%;
}

#features_list{
	display: block;
	background-color: #ffffff;
}

.feature_block{
	display: flex;
	text-align: left;
	padding-left: 7%;
	padding-right: 10%;
	padding-top: 5%;
}

.feature_content{
	display: inline-block;
	text-align: left;
	/* left: 0; */
}

.feature_icon_block{
	display: inline-block;
	width: 30%;
	height: 15vw;
	margin-top: 5%;
}


.feature_icon{
	background-size: contain;
	background-repeat: no-repeat;

	width: 35%;
	height: 10%;
	padding-top: 40%;
	margin-bottom: 5%;
}

/* .feature_icon_block.left{
	margin-right: 14.8%;
} */
.feature_icon_block.right{
	margin-left: 14.8%;
}

.diamond{
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background-color: #F0B90B;
	transform: rotate(45deg);
}
.sponsor_title_container{
	margin: 10px auto;
	display: block;
	flex-direction: row;
	justify-content: center;
	vertical-align: middle;
	height: 50px;
}
.sponsor_title{
	margin: auto;
	font-size: 25px;
	color: #333333;
	width: auto;
	text-align: center;
	line-height: 50px;
}
.yellow-line{
	display: inline-block;
	margin: auto 15px;
	width: 400px;
	border: 1px solid #F0B90B;
}
.gray-line{
	display: inline-block;
	margin: auto 15px;
	width:60px;
	border: 1px solid #BDBDBD;
}
.sponsor-img-container{
	width: 100%;
	padding: 0px 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 3vw auto;
}
.sponsors_list img{
	padding: 0px 1vw;
	height: 4vw;
	margin: 2vw 20px;
	object-fit: contain;
	cursor: pointer;
}

#last_div{
	width: 100%;
	height: 200px;
	background-color: black;
}
#travel_by_bit_container{
	position: absolute;
	bottom: 80px;
	width: 100%;
	height: 35%;
	/*background-color: white;*/
}
#travel_by_bit{
	border-radius: 12px;
	border-width: 0px;
	overflow: hidden;
	position: relative;
	width: 44%;
	margin: auto;
	height: 100%;
	background-color: #2D2D35;
	/*background: no-repeat contain center url(../img/travelbybit.png) ;*/
}
#travel_by_bit > .overlay{
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	/*background-color: rgba(0,0,0,0.8);*/
}
#travel_by_bit img{
	margin-bottom:2%; 
	z-index: 110;
	height: 3vh;
	object-fit: contain;
}
#showflight_btn{
	padding: 0px 8vw;
	margin-top: 0px;
	border: 1px solid #F0B90B;
	color: #F0B90B;
	-webkit-transition:  0.3s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: 0.3s;
	transition-timing-function: linear;
}
#showflight_btn:hover{
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-transition:  0.3s; /* Safari */
	-webkit-transition-timing-function: linear; /* Safari */
	transition: 0.3s;
	transition-timing-function: linear;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}
footer{
	background-color: #12161C;
	font-size: 12px;
	line-height: 40px;
}
footer p{
	color: #888888;
}
#to_top_icon{
	z-index: 1200;
	height: 60px;
	width: 60px;
	cursor: pointer;
	object-fit: contain;
	position: fixed;
	bottom: 4%;
	right: 3%;
}

/*gmap*/
.gm-style-iw {
	width: 130px;
	padding: 0px !important;
	padding-top: 10px !important;
	text-align: center; 
	height: 40px;
}

/*For popup*/
.modal-content{
	margin-top: 40%;
	height: 55vh;
	padding: 5vh 50px;
	border-radius: 0px;
	width: 500px;
}

.contact-modal-text{
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	vertical-align: center;
	margin-bottom: 5px;
	height: auto;
}
.contact-modal-title{
	font-size: 4.5vh;
	/*line-height: 7vh;*/
}
.contact-modal-sub{
	margin-top: 50px;
	font-size: 3.1vh;
	/*line-height: 5vh;
	height: 5ch;*/
}
.contact-modal-small{
	color: #848E9C;
	font-size: 2vh;
}
.modal-close-btn{
	background-image: url(https://public.bnbstatic.com/static/binance-third-anniversary/img/close.png);
	background-size: contain;
	height: 30px;
	width: 30px;
	margin-left: calc(50% - 15px);
	background-color: white;
	cursor: pointer;
	margin-top: 5vh;
}
@media (max-width:520px){
	.modal-content{
		width: 100vw;
		height: 58vh;
	}
	.modal-dialog{
		margin: 0px;
	}
	.contact-modal-title{
		font-size: 3.5vh;
		/*line-height: 7vh;*/
	}
}


#footer_list{
	display: flex;
	text-align: center;
	width: 100%;
}

.footer_block{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	height: 15%;
	margin: 2%;
	text-align: left;
}

.mobile-footer .footer_block{
	margin: 0%;
}

.footer_icon{
	background-size: contain;
	background-repeat: no-repeat;
	width: 35%;
	height: 10%;
	padding-top: 8%;
	margin-bottom: 5%;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

.wide-footer{
	display: block;
}
.mobile-footer{
	display: none;
}
.mobile-footer .panel-body{
	margin-bottom: 0.5rem;
	color: #ffffff;
}

.wide-feature-icon{
	display: block;
}
.mobile-feature-icon{
	display: none;
}
.mobile-feature-icon .center-div{
	/*min-width: 200px;*/
	/*width: 1vw;*/
	margin: 2.5% auto 1.5% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	-moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;	
}
.mobile-feature-icon .feature_icon{
	margin-bottom: 0%;
	margin-left: 30%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}
#awards_list .award-name{
	height: 120px;
}
#awards_list .text-small{
	height: 150px;
}

#contact-modal-btn{
	margin: 20px auto;
	margin-right: 5%;
	float:right;
	background-color: white;
	color: black;
	border: 0px;
	-moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;	
}
#contact-modal-btn:hover{
	transform: scale(1.3);
	-moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;	
}
#contact-modal-btn > img{
	height: 30px;
	margin-left: 15px;
	width: auto;
	object-fit: contain;
}

#footer {
	margin-top: 8vh;
}
.text-content.company{
	font-size: 15px;
	line-height: 15px;
}